#main_menu {
	.submenu-level-one,
	.submenu-level-two {
		display: none;
	}
}

#language_select {
	background-image: url('../images/icon-english.png');
	background-size: contain;
	background-repeat: no-repeat;
}

@include breakpoint(medium) {
	#main_menu {
		.submenu-level-one,
		.submenu-level-two {
			display: block;
		}
	}
}